.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 800px;
	margin: auto;
}

.players {
	margin: 30px 0;
	min-width: 800px;
}

.players__list > li:not(:last-of-type) > .players__item {
	border-bottom: 1px solid #eee;
}

.players__ip {
	width: 150px;
	flex: unset !important;
	text-align: end;
	padding-right: 32px !important;
}
